nowcasting_utils
ocf_datapipes
numpy
pandas
matplotlib
xarray
ipykernel
h5netcdf
torch>=2.0
pytorch-lightning>=2.0
pytest
pytest-cov
flake8
jedi
tables
tilemapbase
wandb
tensorboard
tqdm
rich
omegaconf
hydra-core
python-dotenv
hydra-optuna-sweeper
black
