nowcasting_utils
ocf_datapipes
numpy
pandas
matplotlib
xarray
ipykernel
h5netcdf
torch
pytorch-lightning
perceiver_pytorch
pytest
pytest-cov
flake8
jedi
tables
tilemapbase
neptune-client[pytorch-lightning]
rich
omegaconf
hydra-core
python-dotenv
hydra-optuna-sweeper
black

