nowcasting_utils
ocf_datapipes>=0.5.30
Cartopy>0.20.3
numpy
pandas
matplotlib
xarray
ipykernel
h5netcdf
torch
pytorch-lightning
perceiver_pytorch
pytest
pytest-cov
flake8
jedi
tables
tilemapbase
neptune-client[pytorch-lightning]
rich
omegaconf
hydra-core
python-dotenv
hydra-optuna-sweeper
black
torch==1.13.0
torchdata==0.5.0

