name: Python Bump Version & release

on:
  push:
    branches:
      - main
    paths-ignore:
      - "configs.example/**" # ignores all files in configs.example
      - "**/README.md" # ignores all README files

jobs:
  release:
    uses: openclimatefix/.github/.github/workflows/python-release.yml@main
    secrets:
      token: ${{ secrets.PYPI_API_TOKEN }}
      PAT_TOKEN: ${{ secrets.PAT_TOKEN }}
